<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <section class="user-card">
        <article class="top">
            <aside class="left">
                <img src="https://avatars3.githubusercontent.com/u/41172610?s=400&v=4" alt="">
            </aside>
            <aside class="right">
                <p>Giorgi okruadze</p>
                <p>oqruadze1007@gmail.com</p>
            </aside>
        </article>
        <article class="bottom">
            <p>consectetur voluptas ab sapiente quisquam, ducimus architecto? Fugit, architecto? Fugit, voluptatem.</p>
            <button class="btn">Follow</button>
        </article>
    </section>
</body>

</html>